<!DOCTYPE html>
<html>
<head>
<title>Image Classifier</title>
<link href="{{ url_for('static', filename='css/cp.css') }}" rel="stylesheet">  
</head>
<body>
<div class="im">
<form action="/predict" method="post" enctype="multipart/form-data">
<input type="file"  name='file' accept="image/*" onchange="loadFile(event)">
<img id="output"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src)
    }
  };
</script>
<p> 
<input type="submit" name="submit" >
</p>
</div>
</form>
</body>
</html>
